.start{
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid rgb(230, 230, 230);
  margin: 10px 0px 10px 10px;
  border-radius: 5px;
  
}

.start button{
  outline: none;
  width: 200px; 
  height: 70px;
}

.start button:focus{
  outline: none;
}

@media (max-width:767px) {
  .start{
    margin: 10px;
  }
}