
.hover{
    text-align: center;
    height: 100%;
    width: 75px;
    padding:25px 0px;
  }
.hover:hover{
    border-bottom: 1px solid rgb(226,87,0);
  }

  .navbar {
    display: flex;
  }

@media (max-width:767px) {

  .navbar {
    display: none;
  }

  
}